body{
    background-image: linear-gradient(to right, #ff5722, #ff9800);
    margin-top: 80px !important;
}
.register-left{
    text-align: center;
    color: #ffffff;
    width: 100%;
}
.register-left img{
    margin-top: 20px;
    margin-bottom: 38px;
    width: 80px;
    animation: mover 1s infinite alternate;
}
.register-left p{
    padding: 20px 20px 0;
}
.register-left h3{
    font-size: 4rem;
}
.register-left .btn-primary{
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555555;
    transition: 1s;
}
.register-left .btn-primary:hover{
    background: #000000;
}
.register-right{
    border: none;
    background: #f8f8f8;
    border-top-left-radius: 10% 20%;
    border-bottom-left-radius: 10% 20%;
    margin-left: 40px;
}
.register-right h2{
    text-align: center;
    margin-bottom: 5px;
    color: #555555;

}
.register-form{
    padding: 10px;
}

.register-right .btn-primary{
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #ff9800;
    font-weight: 600;
    color: #555555;
    margin: 20px;
    transition: 1s;
}
.register-right .btn-primary:hover{
    color: #ff5722;
}
@keyframes mover {
    0%{transform: translateY(0);}
    100%{transform: translateY(-20px);}
}